[submodule "Gymon/vendor/spdlog"]
    path = Gymon/vendor/spdlog
    url = https://github.com/gabime/spdlog
[submodule "Gymon/vendor/GLFW"]
	path = Gymon/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Gymon/vendor/glm"]
	path = Gymon/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Gymon/vendor/imgui"]
	path = Gymon/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
